.under_menu {
   margin-top: 0.30%;
}


h1 {
    color: rgb(54, 43, 43);
    text-indent: 30px;
    text-align: justify;
    z-index: 0;
    margin-left: 13%;
    margin-right: 18%;
    margin-top: 2%;
}

.lite {
    width: 25%;
    position: absolute;
    margin-left: 10%;
    margin-top: -4%;
}

.frame {
    border: 2px solid black;
    text-align: center;
    margin-left: 15%;
    margin-top: 2%;
    padding: 28px 1px 240px 5px;
    width: 70%;
}

.thanks {
    text-transform: uppercase;
    font-size: 204%;
    color: #c90f0f;
    font-weight: 800;
}



