p {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 12px;
    border: 2px solid #076aff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    line-height: 1.6;
    color: #333;
}

.image-frame {
    background: white;
    max-width: 850px;           
    margin: 20px auto;
    padding: 15px;             
    border-radius: 15px;
    border: 3px solid #ffc107;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    text-align: left;          
    transition: transform 0.3s;
    overflow: auto;            
}

.image-frame:hover {
    transform: scale(1.02);
}

.image-frame img {
    width: 50%;
    border-radius: 10px;
    display: block;
}

.jpg-sk {
    float: left;              
    margin: 18px 15px 20px 10px;     
    border-radius: 10px;
}